@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import "~prismjs/themes/prism-tomorrow.css"

/** base */
body
  font-family 'Nunito Sans', sans-serif
  background linear-gradient(45deg, #232648, #715a5a)
  font-size 16px
  min-height 100vh
  color #fff
  padding 0
  margin 0

  @media (max-width: 1200px)
    font-size 15px

a
  color #fff

h1, h2, h3, h4, h5
  color: #e6d9da;
  font-weight normal
  letter-spacing -.5px

  &:hover
    & .header-anchor
      opacity 1


.header-anchor
  color #7f8490
  text-decoration none
  opacity 0
  margin-left: -.87em;
  float left

  &:hover
    text-decoration underline

/** layout */
.app-container
  min-height 100vh
  display flex
  flex-direction column
  align-items center

.app-header,
.app-footer
  flex-shrink 0

.app-content
  box-sizing border-box
  flex 1 0 auto
  width 50rem
  padding 1.5rem

  @media (max-width: 960px)
    width 100%
    padding 2rem

.content
  padding 1.5rem

/** items */
.logo
  background url("/logo.svg") no-repeat
  color transparent
  width 12.5rem
  height 3.75rem
  display block
  margin 3rem auto

  @media (max-width: 1200px)
    margin 1rem auto

.menu
  display flex

.menuItem
  display block
  padding 1rem 1.5rem
  text-decoration none
  border-radius 8px
  margin 0 .5rem

  &.router-link-active
    background #484055

  &:hover
    background rgba(255, 255, 255, .15)

.wave
  position fixed
  top 0
  left 0
  width 75vw
  height 120vh
  z-index -1
  pointer-events none

  @media (max-width: 960px)
    width 90vw

.signs
  opacity .09
  position fixed
  width 100%
  height 100%
  z-index -1

  & .sign
    position absolute
    z-index -1
    font-size 24px

  & .sign:nth-of-type(1)
    transform scale(10)
    top 60px
    left 100px
    filter blur(.5px)

  & .sign:nth-of-type(2)
    transform scale(5)
    right 100px
    top 100px
    filter blur(1px)

  & .sign:nth-of-type(3)
    transform scale(20)
    left 100px
    bottom 100px
    filter blur(.5px)

.app-footer
  color #7f8490
  font-size 14px
  padding 2rem 0

  a
    color #7f8490

:not(pre) > code[class*="language-"],
pre[class*="language-"]
  background #322e3c !important
  border-radius 16px
