<template>
  <div class="demo">
    <DemoSearchField @select="setDemo" />
    <DemoCards :geographical-name="demo" />
  </div>
</template>

<script>
import DemoCards from './DemoCards';
import DemoSearchField from './DemoSearchField';

const demo = [
  'Budapest',
  'Debrecen',
  'Győr',
  'Kecskemét',
  'Miskolc',
  'Nyíregyháza',
  'Eger',
  'Pécs',
  'Sopron',
  'Szeged',
  'Székesfehérvár',
  'Szentendre',
];

export default {
  name: 'Demo',
  components: { DemoSearchField, DemoCards },
  data() {
    return {
      interval: null,
      demo: 'Pécs',
    };
  },
  mounted() {
    this.startDemo();
  },
  methods: {
    setDemo(demo) {
      this.demo = demo;
      this.pauseDemo();
    },
    startDemo() {
      this.interval = setInterval(this.reset, 4000);
    },
    pauseDemo() {
      clearInterval(this.interval);
    },
    getRandomInt(top = Number.MAX_SAFE_INTEGER) {
      return Math.floor(Math.random() * (top + 1));
    },
    chooseRandomFrom(array) {
      return array[this.getRandomInt(array.length - 1)];
    },
    async reset() {
      await this.$nextTick();
      this.demo = this.chooseRandomFrom(demo);
    },
  },
};
</script>
