<template>
  <div class="wrapper">
    <div class="primary">{{ primary }}</div>
    <div v-if="secondary" class="secondary">{{ secondary }}</div>
    <div v-if="ternary" class="ternary">{{ ternary }}</div>
  </div>
</template>

<script>
export default {
  name: 'DemoCard',
  props: {
    primary: String,
    secondary: String,
    ternary: String,
  },
};
</script>

<style scoped>
.wrapper {
  break-inside: avoid;
  transition:
    opacity .3s ease,
    transform .3s ease;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 0 0 1px #ddd;
}

.primary {
  font-size: 22px;
  margin: 0 16px 6px 0;
}

.secondary {
  font-size: 10px;
  color: #888;
}

.ternary {
  display: none;
  font-size: 12px;
  color: #888;
}
</style>
