<template>
  <ais-instant-search class="autosuggest" index-name="towns" :search-client="searchClient">
    <ais-autocomplete :indices="[{ value: 'towns' }]">
      <template slot-scope="{ currentRefinement, indices, refine }">
        <vue-autosuggest
          v-model="searchText"
          v-focus
          :suggestions="indicesToSuggestions(indices)"
          :get-suggestion-value="getSuggestionValue"
          @selected="onSelect"
          @input="refine"
          @keydown.enter="onSelect"
          :input-props="{
            class: 'autosuggest-input',
            placeholder: 'Írj be egy földrajzi nevet...',
          }">
          <template slot-scope="{ suggestion }">
            <ais-highlight
              :hit="suggestion.item"
              attribute="town"
            />
          </template>
        </vue-autosuggest>
      </template>
    </ais-autocomplete>
    <client-only>
      <ais-powered-by class="algolialogo">
        <span class="ais-PoweredBy-text">an</span>
      </ais-powered-by>
    </client-only>
  </ais-instant-search>
</template>

<script>
import algoliasearch from 'algoliasearch';
import { VueAutosuggest } from 'vue-autosuggest';

export default {
  name: 'DemoSearchField',
  components: { VueAutosuggest },
  data() {
    return {
      searchClient: algoliasearch(
        '6CIE5N5EE3',
        '1eb47b57e3a06dc7d8dab5c1f3c47727',
      ),
      searchText: '',
    };
  },
  methods: {
    onSelect(selected) {
      if (!selected) return;
      const value = this.getFormattedValue(selected);
      this.$emit('select', value);
    },
    getFormattedValue(selected) {
      const original = selected.item
        ? selected.item.town
        : selected.target.value;
      return original.charAt(0).toUpperCase() + original.slice(1);
    },
    getSuggestionValue(suggestion) {
      if (!suggestion) {
        return {
          item: { town: suggestion },
        };
      }

      return suggestion.item.town;
    },
    indicesToSuggestions(indices) {
      if (this.searchText === '') {
        return [{ data: [] }];
      }

      return [{ data: indices[0] ? indices[0].hits : [] }];
    },
  },
};
</script>

<style>
.autosuggest {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin: 32px 0;
}

.autosuggest #autosuggest {
  position: relative;
}

.autosuggest .algolialogo {
  position: absolute;
  top: 0;
  right: 0;
  opacity: .65;
  filter: grayscale(100%);
  height: 100%;
  padding: 4px 16px 0 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.autosuggest .algolialogo::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  border-radius: 0 8px 8px 0;
  top: 0;
  width: 150%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, .5),
    rgba(255, 255, 255, 0)
  );
}

.autosuggest .algolialogo:hover {
  opacity: 1;
  filter: grayscale(0);
}

.autosuggest .algolialogo svg {
  width: 100px !important;
}

.autosuggest .autosuggest-input {
  display: block;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  line-height: 24px;
  padding: 8px 16px;
  box-sizing: border-box;
  transition: background .2s ease;
  width: 100%;
}


.autosuggest .autosuggest-input::placeholder {
  color: rgba(255, 255, 255, .5);
  transition: color .2s ease;
}

.autosuggest .autosuggest-input:focus {
  background: rgba(255, 255, 255, .9);
  color: #4b4b4b;
  outline: none;
}

.autosuggest .autosuggest-input:focus::placeholder {
  color: #4b4b4b;
}

.autosuggest__results-container {
  background: #1d1e2a;
  position: absolute;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 16px rgba(0, 0, 0, .1);
  z-index: 100;
}

.autosuggest__results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autosuggest__results-item {
  padding: 12px 16px;
  cursor: default;
}

.autosuggest__results-item:hover,
.autosuggest__results-item--highlighted {
  background: #505a92;
  color: #fff;
}

.autosuggest__results-item mark {
  background: rgba(255, 255, 255, .2);
  color: #fff;
}

.autosuggest__results-item:hover mark,
.autosuggest__results-item--highlighted mark {
  color: #fff;
}

.clear {
  position: absolute;
  right: 130px;
  top: 4px;
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 100%;
  background: none;
  color: #ccc;
  outline: none;
}

.clear:hover {
  background: #ccc;
  color: #2c3e50;
}

.clear span {
  display: block;
  font-size: 32px;
  line-height: 28px;
  height: 32px;
  width: 32px;
  text-align: center;
}
</style>
