<template>
  <div>
    <div class="nominativus">
      <div class="primary">{{ geographicalName }}</div>
      <div class="secondary">nominativus</div>
    </div>
    <transition-group class="cards" tag="div" name="cards" appear mode="out-in">
      <DemoCard v-for="(card, i) in cards" v-bind="card" :key="card.secondary" :style="{'--i': i}"/>
    </transition-group>
  </div>
</template>

<script>
import DemoCard from './DemoCard.vue';

export default {
  name: 'DemoCards',
  props: {
    geographicalName: { type: String, default: 'Pécs' },
  },
  components: { DemoCard },
  data() {
    return { cards: [] };
  },
  watch: {
    geographicalName: {
      handler: 'reset',
      immediate: true,
    }
  },
  methods: {
    async reset(newName) {
      this.cards = [];
      await this.$nextTick();
      this.cards = this.getInflections(newName);
    },
 },
};
</script>

<style scoped>
.nominativus {
  color: #888;
}

.cards {
  display: grid;
  grid-template: 'a a a';
  grid-gap: 1rem;
  grid-auto-columns: 1fr;
}

@media (max-width: 768px) {
  .cards {
    grid-template: 'a a';
  }
}

@media (max-width: 560px) {
  .cards {
    grid-template: 'a';
  }
}

.cards-enter-active,
.cards-leave-active {
  transition:
    opacity .3s ease,
    transform .3s ease;
  transition-delay: calc( 0.01s * var(--i) );
}

.cards-enter,
.cards-leave-to {
  opacity: 0;
}

.cards-enter {
  transform: translateY(10px);
}

.cards-leave-to {
  transform: translateY(-10px);
}

.nominativus {
  margin: 16px 0;
}

.primary {
  color: #fefefe;
  font-size: 18px;
}

.secondary {
  font-size: 11px;
}
</style>
