<template>
  <div class="app-container">
    <svg class="wave" viewBox="0 0 640 480" preserveAspectRatio="none">
      <path fill="rgba(255,255,255,.03)" d="M0,0v440.8c34.8,28.5,123.6,43.9,160.6,38c166.7-26.5,92.5-202.6,196.9-258.4C504.2,141.9,682.3,118.4,631,0H0z"/>
    </svg>
    <div class="signs">
      <div class="sign">ŋ</div>
      <div class="sign">ɮ</div>
      <div class="sign">θ̠</div>
    </div>
    <header class="app-header">
      <router-link to="/" class="logo">GeoFlector</router-link>
      <nav class="menu">
        <router-link exact v-for="item in $site.themeConfig.nav" :to="item.link" class="menuItem">
          {{ item.text }}
        </router-link>
        <a class="menuItem"
          v-if="$site.themeConfig.repo"
          :href="$site.themeConfig.repo"
          target="_blank"
          rel="noopener noreferrer">
          {{ $site.themeConfig.repoLabel }}
        </a>
      </nav>
    </header>
    <main class="app-content">
      <Content />
    </main>
    <footer class="app-footer">© Copyright {{ currentYear }}, <a href="https://violapeter.hu">Viola Péter</a></footer>
  </div>
</template>

<script>
export default {
  name: 'Layout.vue',
  computed: {
    currentYear() {
      return new Date().getFullYear();
    }
  },
};
</script>
